.red {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  background-color: #ef8989;
  margin: 0 auto;
  color: white;
  font-size: 3rem;
}

h1,
h3 {
  text-align: center;
}
